[Desktop Entry]
Encoding=UTF-8
Name=VMWare Horizon
Exec=vmware-view
Icon=/usr/share/pixmap/vmware-view.png
Type=Application
NoDisplay=true
Terminal=false
StartupNotify=true
Categories=Application;Network;
