[Desktop Entry]
Encoding=UTF-8
Name=Xephyr
Exec=/opt/scripts/xephyr.sh
Icon=/usr/share/pixmap/xephyr.png
Type=Application
NoDisplay=true
Terminal=false
StartupNotify=true
Categories=Application;Network;
