[Desktop Entry]
Encoding=UTF-8
Comment=NoMachine recording
Exec="/usr/NX/bin/nxplayer" --recording
Icon=NoMachine-recording
Name=NoMachine
Type=Application
MimeType=application/nx-recording;
NoDisplay=true
