[Desktop Entry]
Comment=
Terminal=false
Name=Edit RDesktop server
Exec=mousepad /opt/config/rdesktop.server
Type=Application
Icon=/usr/share/pixmaps/mousepad.xpm
