[Desktop Entry]
Comment=
Terminal=false
Name=Edit Xephyr server
Exec=mousepad /opt/config/xephyr.server
Type=Application
Icon=/usr/share/pixmaps/mousepad.xpm
