[Desktop Entry]
Encoding=UTF-8
Name=xFreeRDP
Exec=/opt/scripts/xfreerdp.sh
Icon=/usr/share/pixmap/freerdp.png
Type=Application
NoDisplay=false
Terminal=false
StartupNotify=true
Categories=Application;Network;
