Package: rdc
Version: 0.4.0-0
Section: misc
Architecture: armhf
Depends: libssl1.0.0, libgtk2.0-0, libatk1.0-0, libglib2.0-0, libpangoft2-1.0-0, libpangocairo-1.0-0, libgdk-pixbuf2.0-0, libcairo2, libpango-1.0-0, libfreetype6, libfontconfig1, libglib2.0-0, libx11-6, libpulse-mainloop-glib0, libglib2.0-0, libpulse0, libc6, zlib1g, libgcc1, libxcomposite1, libxdamage1, libxfixes3, libxext6, libxrender1, libxinerama1, libxi6, libxrandr2, libxcursor1, libglib2.0-0, libselinux1, libc6, libharfbuzz0a, libpng12-0, libpixman-1-0, libxcb-shm0, libxcb-render0, libxcb1, libthai0, libexpat1, libffi5, libpulse0, libcap2, libpcre3, libjson0, libdbus-1-3, libgraphite2-2.0.0, libxau6, libxdmcp6, libdatrie1, libx11-xcb1, libice6, libsm6, libxtst6, libwrap0, libsndfile1, libasyncns0, libattr1, libuuid1, libc6, libflac8, libvorbisenc2, libvorbis0a, libogg0
Installed-Size: 380
Maintainer: Dominic Wollner
Description: A Gtk+ based remote desktop client.
