# Don't allow HAL to handle devices that ICA client is remoting

SUBSYSTEM=="usb", \
ACTION=="add", \
PROGRAM="/opt/Citrix/ICAClient/ctx_usb_isactive", \
    OPTIONS+="last_rule", \
    RUN+="/usr/bin/logger -t ica-usb.rules suppressing HAL action for %k"
