[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Update Checker
Comment=Check for Raspberry Pi 2 Security update
Exec=/usr/bin/updatecheck
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

