[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=X11VNC
Comment=Start VNC Server on port 5900
Exec=x11vnc -forever -usepw
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

