[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Autostart VMWare Horizon Client
Comment=Autostart VMWare Horizon Client on boot
Exec=/opt/scripts/autostart.sh /usr/share/applications/vmware-horizon.desktop
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

