[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Keep Me Up! (VMWare)
Comment=Keep up your application/service
Exec=/opt/scripts/keepmeup.sh vmware-view
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

